* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-container {
    height: calc(90vh);
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .footer-container {
    width: 100%;
    min-height: 100vh;
    color: #242424;

    .footer-background-radius {
      position: relative;
      width: 100%;
      min-height: 100vh;
      padding: 2rem 7rem;
      background-color: #c3bdb8;
      border-radius: 50% 50% 0 0;

      .footer-content {
        h1 {
          font-size: 130px;
          line-height: 130px;
        }
        form {
          width: 100%;
          padding-top: 4rem;
          border-bottom: 1px solid #242424;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
          .input-email {
            font-size: 130px;
            width: 70%;
            background-color: transparent;
            border: none;
          }
          .submit-btn {
            font-size: 60px;
            background-color: transparent;
            border: none;
          }
        }
        .footer-nav {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          margin-top: 10rem;
          div {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            h3 {
              margin-bottom: 1rem;
              font-size: 24px;
            }
            a {
              cursor: pointer;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
